html,
	body {
  position: absolute;
  width: 100%;
  height: 100%;
    background-color: #fff;
  -webkit-tap-highlight-color:rgba(255,0,0,0);
}

body {
  color: #fff;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.switchView {
   position: absolute;
    bottom: 15px;
    right: 5px;
     color: #000; 
    padding: 8px 30px;
    height: 21px;
    /* border: 1px solid #000; */
    cursor: pointer;
    font-size: 19px;
    z-index: 1;
    top: 15px;
  /*  background-color: #000;*/
}

#titleText{
    position: absolute;
    top: 10px;
    left: 30px;
}


#titleText p {
    font-family: 'Audty1';
    font-size: 23px;
    font-weight: normal;
    letter-spacing: 1px;
    color: black;
}

#close {
    position: absolute;
    top: 10px;
    left: 883px;
    display: none;
}

#titleText img {
    float: right;
    margin-right: -26px;
    margin-top: -50px;
}

#imgscr1, #imgscr1hover{
    top: 55px;
    position: absolute;
    left: 55px;
    cursor: pointer;
    z-index: 1005;
}#imgscr2, #imgscr2hover{
    top: 55px;
    position: absolute;
    left: 195px;
    cursor: pointer;
    z-index: 1005;
}#imgscr3, #imgscr3hover{
    top: 75px;
    position: absolute;
    left: 105px;
    cursor: pointer;
    z-index: 1005;
}

.keyFeature{
    color: black;
    position: absolute;
    padding: 10px 15px;
    font-size: 16px;
    text-align: left;
    z-index: 99;
}
.keyFeature h2{
    font-size: 26px;
    padding-bottom: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    margin: -10px;
    color: black;
}
.keyFeature p{
    margin: -7px;
    color: black;
    font-weight: normal;
}

#keyFeature1{
    width: 665px;
    top: 149px;
    left: -232px;  
}

#keyFeature2{
    width: 395px;
    top: 149px;
    left: -232px;  
}


#keyFeature3{
    width: 665px;
    top: 149px;
    left: -232px;  
}

#wheelText {
    top: 290px;
    position: absolute;
    left: 260px;
}
#headLightText {
    top: 130px;
    position: absolute;
    left: 250px;
}

#rideHeightText {
    top: 270px;
    position: absolute;
    left: 310px;
}

/* UI FOOTER START */

#footer {
    position: absolute;
    height: 100px;
    background-color: #030303;
    width: 100%;
    bottom: 4px;
}

.btnC1{
  position: absolute;
  width: 69px;
  height: 69px;
  cursor: pointer;
  z-index:3;
}

#sideButtons {
    position: absolute;
    bottom: 0px;
}

#doors {
  left: 10px;
  bottom: 16px;     
}

#doorsBtn {
  overflow: hidden; 

}
#doorsBtnActive {
  overflow: hidden;  
   visibility: hidden;   
}

#boot {
  left: 80px;
  bottom: 16px;     
}

#bootBtn {
  overflow: hidden; 

}
#bootBtnActive {
  overflow: hidden;  
   visibility: hidden;   
}

#lights {
  left: 290px;
  bottom: 16px;     
}

#lightsBtn {
  overflow: hidden; 

}
#lightsBtnActive {
  overflow: hidden;  
   visibility: hidden;   
}

#luggage {
  left: 10px;
  bottom: 16px;     
}

#luggageBtn {
  overflow: hidden; 

}
#luggageBtnActive {
  overflow: hidden;  
   visibility: hidden;   
}

#posButtons {
    position: absolute;
    bottom: 0px;
}


#playAnimations {
position: absolute;
    left: 289px;
    bottom: 84px;
    z-index: 1040;
    display: block;
    cursor: pointer;
}
#pauseAnimations {
position: absolute;
    left: 289px;
    bottom: 84px;
    z-index: 1040;
    display: none;
    cursor: pointer;
}


#tickImage {
    position: absolute;
    bottom: 70px;
    left: 348px;
    z-index: 1010;
    display: none;
}

#tickImage1 {
    position: relative;
    bottom: -132px;
    right: -22px;
    z-index: 0;
    display: block;
}

#tickImage2 {
    position: relative;
    bottom: -178px;
    right: -42px;
    z-index: 0;
    display: block;
    width: 20px;
}

#tickImage3 {
    position: relative;
    bottom: -178px;
    right: -42px;
    z-index: 0;
    display: block;
    width: 20px;
}


#pos1 {
  left: 310px;
  bottom: 16px;     
}

#pos1Btn {
  overflow: hidden; 

}
#pos1BtnActive {
  overflow: hidden;  
   visibility: hidden;   
}

#pos2 {
  left: 380px;
  bottom: 16px;     
}

#pos2Btn {
  overflow: hidden; 

}
#pos2BtnActive {
  overflow: hidden;  
   visibility: hidden;   
}

#pos3 {
  left: 450px;
  bottom: 16px;     
}

#pos3Btn {
  overflow: hidden; 

}
#pos3BtnActive {
  overflow: hidden;  
   visibility: hidden;   
}

#pos4 {
  left: 520px;
  bottom: 16px;     
}

#pos4Btn {
  overflow: hidden; 

}
#pos4BtnActive {
  overflow: hidden;  
   visibility: hidden;   
}

#pos5 {
  left: 590px;
  bottom: 16px;     
}

#pos5Btn {
  overflow: hidden; 

}
#pos5BtnActive {
  overflow: hidden;  
   visibility: hidden;   
}

#threeicon {
  left: 700px;
  bottom: 16px;     
}

#threeiconBtn {
  overflow: hidden; 

}
#threeiconBtnActive {
  overflow: hidden;  
   visibility: hidden;   
}
#videoicon {
  left: 770px;
  bottom: 16px;     
  z-index: 2006;
}

#videoiconBtn {
  overflow: hidden; 

}
#videoiconBtnActive {
  overflow: hidden;  
   visibility: hidden;   
}
/* UI FOOTER END */

#closeButton {
    position: absolute;
    top: 10px;
    right: 255px;  
    z-index: 2006;
    display: none;
    cursor: pointer;
}

.switchViewext {
    position: absolute;
    bottom: 15px;
    right: 135px;
    color: #000;
    padding: 8px 30px;
    height: 22px;
    /*border: 1px solid #000;*/
    cursor: default;
    font-size: 19px; 
    z-index: 1;
    top: 15px;
   /* opacity: 0.2;*/
     background-color: #e7e9ea;
}
.fullScreenBox{    
   right: 335px;
    top: 15px;
    position: absolute;
    cursor: pointer;
    z-index: 3;
    width: 32px;
    height: 32px;
}

#reset {
right: 250px;
    bottom: 109px;
z-index: 3;
position: absolute;  
cursor: pointer;
height: 44px;
}

#resetBtn {
  overflow: hidden; 

}
#resetBtnctive {
  overflow: hidden;  
   visibility: hidden;   
}

#loader {
  position: absolute;
  left: 0px;
  top: 0px;
  text-align: left;
  padding: 0px 0px;
  margin: 0px;
  display: none;
}
#loader1 {
  position: absolute;
  left: 0px;
  top: 0px;
  text-align: left;
  padding: 0px 0px;
  margin: 0px;
  display: none;
}
/*#InfinityRTWrapper, #InfinityRT{
  max-width: 1400px;
}*/
#scenediv {
  /*position: absolute;*/
  text-align: left;
  padding: 0px 0px;
  margin: 0;
  width: 1168px;
  height: 624px;
  visibility: hidden;
  /*max-width: 1400px;*/
}

#videoLoader {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    z-index: 2005;
}

#loaderGIF {
    position: absolute;
    z-index: 2006;
    top: 210px;
    left: 430px;
    display: none;
}

#zoomSliderContainer {
  position: absolute;
 
}

.ui-slider {
  border: 1px solid #aaaaaa;
  background: #ffffff;
}

.ui-slider .ui-widget-header {
  background: #0083CA;
}

.ui-corner-all {
  visibility: hidden;
}

.ui-slider .ui-slider-handle {
      width: 12px;
    height: 12px;
  background: url(../images_gl/zoom_Dot.png) no-repeat;
  overflow: hidden;
  position: absolute;
  left: -34px;
  border-style: none;
  outline: none;
}

.ui-slider-handle-hover {
      width:41px;
      height:16px;
}

#hotspot1{
   position: absolute;
  left:57.4%;
  top:36.9%;
  width: 63px;
  height:63px;
  display: none;
   overflow: hidden;
     z-index: 1001;
 
}

.cur{
  cursor:pointer;
  z-index:10;
  overflow: hidden;
}

.zoom {
  position: absolute;
  left: -2px;
  top: -2px;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

#zoomInBtn {
  background-image: url("../images_gl/plus_up.png");
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 44px 44px;
  cursor: pointer;
}

#zoomInBtnActive {
  background-image: url("../images_gl/plus_down.png");
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 44px 44px;
  visibility: hidden;
  cursor: pointer;
}

#zoomOut {
  left: -2px;
  top: 161px;
  cursor: pointer;
}

#zoomOutBtn {
  background-image: url("../images_gl/minus_up.png");
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 44px 44px;
  cursor: pointer;
}
#zoomOutBtnActive {
  background-image: url("../images_gl/minus_down.png");
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 44px 44px;
  visibility: hidden;
  cursor: pointer;
}

.btn{
  position: absolute;
  width: 49px;
  height: 49px;
  cursor: pointer;
}
.btn1{
  position: absolute;
  width: 45px;
  height: 45px;
  cursor: pointer;
  z-index:3;


}
.btn2{
    height: 34px;
    width: 35px;
    position: absolute;
    cursor: pointer;
}
#resetBtn {
  background-repeat: no-repeat;
  overflow: hidden;
}


#mainText{
    position: absolute;
    left: 205px;
    bottom: -22px;
    color: black;
    text-align: left;
    }
#colorText{
  display: none;
  position: absolute;
  font-family: 'Audty1';
  font-size: 17px;
  width: 160px;  
}
#colorTextforcat5{
  display: none;
  position: absolute;
  font-family: 'Audty1';
  font-size: 17px;
  width: 160px;  
}
#dropdown{
       position: absolute;
    left: 15px;
    bottom: 15px;
    width: 250px;
    height: 40px;
    background: black;
    z-index:3;
}
#forClick{
  position: absolute;
    left: 0px;
    bottom: 0px;
    cursor: pointer;
    width: 200px;
    height: 40px;
}
#text1{
    position: absolute;
    left: 20px;
    top: -10px;
    font-size: 19px;
}
#dropdownlist{
    position: absolute;
    left: 213px;
    top: 12px;
    cursor: pointer;

}
#list1{
   display:none;
    position: absolute;
    left: 0px;
    bottom: 40px;
    width: 250px;
    height: 0px;
    background: white;
}
#one {
    list-style-image: url('../images_gl/arrow.png');
    font-size: 19px;
    position: absolute;
    bottom: -12px;
    text-indent: 4px;
    line-height: 1.8em;
    color: black;
    cursor: pointer;
    width: 200px;
    padding-left: 28px;
}


#cat5{
  display: none;
    list-style-type: none;
    position: absolute;
    width: 178px;
    left: 0px;
    top: -72px;
    height: 51px;
    background: #e7e9ea;
    list-style-image: none;
    font-size: 1.0em;
    line-height: 2em;
    text-indent: -19px;
    color: black;
    cursor: pointer;
    padding-top: 10px;

}

#cat4{
  display: none;
    list-style-type: none;
    position: absolute;
    width: 178px;
    left: 0px;
    top: -122px;
    height: 51px;
    background: #e7e9ea;
    list-style-image: none;
    font-size: 1.0em;
    line-height: 2em;
    text-indent: -19px;
    color: black;
    cursor: pointer;
    padding-top: 10px;

}

#two{
  display: none;
    list-style-type: none;
    position: absolute;
    width: 178px;
    left: 0px;
    top: -228px;
    height: 51px;
    background: #e7e9ea;
    list-style-image: none;
    font-size: 1.0em;
    line-height: 2em;
    text-indent: -19px;
    color: black;
    cursor: pointer;
    padding-top: 10px;

}
#three{
  display: none;
     list-style-type: none;
    position: absolute;
    width: 178px;
    left: 0px;
    bottom: 153px;
    height: 110px;
    background: #e7e9ea;
    list-style-image: none;
    font-size: 12px;
    line-height: 1.7em;
    text-indent: -19px;
    color: black;
    cursor: pointer;
    padding-top: 10px;
}
#four{
  display: none;
       list-style-type: none;
    position: absolute;
    width: 178px;
    left: 0px;
    top: -178px;
    height: 70px;
    background: #e7e9ea;
    list-style-image: none;
    font-size: 12px;
    line-height: 1.7em;
    text-indent: -19px;
    color: black;
    cursor: pointer;
    padding-top: 10px;
}
#firstlist{
    position: absolute;
    top: -37px;
}
/*-----------colors1-------------*/
#colors16 {
    display: block;
    position: absolute;
    left: 764px;
    bottom: 52px;
    height: 30px;
    width: 300px;
}

#colors17 {
    display: block;
    position: absolute;
    left: 763px;
    bottom: 14px;
    height: 30px;
    width: 300px;
}
#option33 {
  left: 0px;      
}
#option33Btn {
  overflow: hidden; 
}
#option33BtnActive {
  overflow: hidden;  
  visibility: hidden;   
}
#option34 {
  left: 72px;      
}
#option34Btn {
  overflow: hidden;     
}
#option34BtnActive {
  overflow: hidden; 
  visibility: hidden; 
}
#option35 {
left: 144px;      
}
#option35Btn {
  overflow: hidden;
}
#option35BtnActive {
  overflow: hidden;  
  visibility: hidden;
}
#forselectcolor17 {
  display: none;
  position: absolute;
  left: 26px;
  bottom: -23px;
}



#option30 {
      left: 0px;      
    }

    #option30Btn {
      overflow: hidden; 
             
    }
    #option30BtnActive {
      overflow: hidden;  
       visibility: hidden;   
    }
      #option31 {
      left: 72px;      
    }

    #option31Btn {
      overflow: hidden;     
    }
    #option31BtnActive {
      overflow: hidden; 
     visibility: hidden; 
    }
      #option32 {
      left: 144px;      
    }
    #option32Btn {
      overflow: hidden;
        
    }
    #option32BtnActive {
      overflow: hidden;  
      visibility: hidden;
    }



#colors1{
  display: block;
 position: absolute;
    left: 13px;
    bottom: 12px;
    height: 30px;
    width: 300px;
}
.btnC{
  position: absolute;
  width: 73px;
  height: 35px;
  cursor: pointer;
  z-index:3;
  top: 0px;
}
/*-----------colors1 -------------------*/
 #option1 {
      left: 0px;      
    }

    #option1Btn {
      overflow: hidden; 
             
    }
    #option1BtnActive {
      overflow: hidden;  
       visibility: hidden;   
    }
      #option2 {
      left: 72px;      
    }

    #option2Btn {
      overflow: hidden;     
    }
    #option2BtnActive {
      overflow: hidden; 
     visibility: hidden; 
    }
      #option3 {
      left: 144px;      
    }
    #option3Btn {
      overflow: hidden;
        
    }
    #option3BtnActive {
      overflow: hidden;  
      visibility: hidden;
    }

    /*------Colors2-------*/
    #colors2{
    display: none;
   position: absolute;
    left: 13px;
    bottom: -32px;
    height: 30px;
    width: 300px;
}
    #option4 {
      left: 0px;      
    }

    #option4Btn {
      overflow: hidden;     
        
    }
    #option4BtnActive {
      overflow: hidden;  
     visibility: hidden;      
    }
      #option5 {
      left: 73px;      
    }

    #option5Btn {
      overflow: hidden;
         
    }
    #option5BtnActive {
      overflow: hidden; 
     visibility: hidden;     
    }
      #option6 {
      left: 145px;      
    }
    #option6Btn {
      overflow: hidden;
        
    }
    #option6BtnActive {
      overflow: hidden;  
      visibility: hidden;
    }
     #option7 {
      left: 217px;      
    }

    #option7Btn {
      overflow: hidden;          
    }
    #option7BtnActive {
      overflow: hidden;  
      visibility: hidden;  
    }
     #option29 {
      left: 289px;      
    }

    #option29Btn {
      overflow: hidden;          
    }
    #option29BtnActive {
      overflow: hidden;  
      visibility: hidden;  
    }
    /*------------colors3----------*/
    #colors3{
  display: none;
 position: absolute;
    left: 13px;
    bottom: -32px;
    height: 30px;
    width: 300px;
}
  #option8 {
      left: 0px;      
    }

    #option8Btn {
      overflow: hidden;
             
    }
    #option8BtnActive {
      overflow: hidden; 
     visibility: hidden; 
    }
     
    /*----------colors4-------*/
    #colors4{
  display: none;
 position: absolute;
    left: 13px;
    bottom: -32px;
    height: 30px;
    width: 300px;
}
 #option9 {
      left: 0px;      
    }
    #option9Btn {
      overflow: hidden;
        
    }
    #option9BtnActive {
      overflow: hidden;  
      visibility: hidden;
    }
    
    /*------------------colors5------------*/
  /*  #colors5{
  display: none;
 position: absolute;
    left: 13px;
    bottom: -32px;
    height: 30px;
    width: 300px;
}
#option10 {
      left: 0px;      
    }

    #option10Btn {
      overflow: hidden;          
    }
    #option10BtnActive {
      overflow: hidden;  
      visibility: hidden;  
    }*/
      
    /*--------------colors6----------------*/
    #colors5{
  display: none;
 position: absolute;
    left: 13px;
    bottom: -32px;
    height: 30px;
    width: 300px;
}
#option11 {
      left: 0px;      
    }

    #option11Btn {
      overflow: hidden;
        
    }
    #option11BtnActive {
      overflow: hidden; 
     visibility: hidden;      
    }
      #option12 {
      left: 72px;      
    }
    #option12Btn {
      overflow: hidden;
        
    }
    #option12BtnActive {
      overflow: hidden;  
      visibility: hidden;
    }
    
    /*----------------------colors7-----------------------*/
    #colors6{
  display: none;
 position: absolute;
    left: 13px;
    bottom: -32px;
    height: 30px;
    width: 300px;
}
#option13 {
      left: 0px;      
    }

    #option13Btn {
      overflow: hidden;      
         
    }
    #option13BtnActive {
      overflow: hidden;  
       visibility: hidden;  
    }
      #option14 {
      left: 72px;      
    }

    #option14Btn {
      overflow: hidden;
              
    }
    #option14BtnActive {
      overflow: hidden; 
      visibility: hidden;
     
    }

     
    /*---------------------colors8----------------*/
    #colors7{
  display: none;
 position: absolute;
    left: 13px;
    bottom: -32px;
    height: 30px;
    width: 300px;
}
 #option15 {
      left: 0px;      
    }
    #option15Btn {
      overflow: hidden;
       
    }
    #option15BtnActive {
      overflow: hidden;  
       visibility: hidden;
    }
    #option16 {
      left: 72px;      
    }

    #option16Btn {
      overflow: hidden;          
    }
    #option16BtnActive {
      overflow: hidden;  
      visibility: hidden;  
    }
      #option17 {
      left: 144px;      
    }

    #option17Btn {
      overflow: hidden;
             
    }
    #option17BtnActive {
      overflow: hidden; 
     visibility: hidden; 
    }
      #option18 {
      left: 216px;      
    }
    #option18Btn {
      overflow: hidden;
        
    }
    #option18BtnActive {
      overflow: hidden;  
      visibility: hidden;
    }
    #option19 {
      left: 288px;      
    }

    #option19Btn {
      overflow: hidden;          
    }
    #option19BtnActive {
      overflow: hidden;  
      visibility: hidden;  
    }
      #option20 {
      left: 360px;      
    }

    #option20Btn {
      overflow: hidden;
            
    }
    #option20BtnActive {
      overflow: hidden; 
     visibility: hidden;  
    }
   /*-------------colors 9----------------*/
   #colors8{
  display: none;
 position: absolute;
    left: 13px;
    bottom: -32px;
    height: 30px;
    width: 300px;
}
 #option21 {
    left: 0px;      
  }
  #option21Btn {
      overflow: hidden;
     
    }
  #option21BtnActive {
      overflow: hidden; 
       visibility: hidden;
    }
    /*-------------colors10-----------*/
     #colors9{
  display: none;
 position: absolute;
    left: 13px;
    bottom: -32px;
    height: 30px;
    width: 300px;
}
 #option22 {
    left: 0px;      
  }
  #option22Btn {
      overflow: hidden;
       
    }
  #option22BtnActive {
      overflow: hidden; 
      visibility: hidden;
    }
    /*---------------colors11-------------------*/
     #colors10{
  display: none;
 position: absolute;
    left: 13px;
    bottom: -32px;
    height: 30px;
    width: 300px;
}
 #option23 {
    left: 0px;      
  }
  #option23Btn {
      overflow: hidden;
     
    }
  #option23BtnActive {
      overflow: hidden; 
       visibility: hidden;
    }
    /*--------------colors12------------*/
     #colors11{
  display: none;
 position: absolute;
    left: 13px;
    bottom: -32px;
    height: 30px;
    width: 300px;
}
 #option24 {
    left: 0px;      
  }
  #option24Btn {
      overflow: hidden;
      
    }
  #option24BtnActive {
      overflow: hidden; 
      visibility: hidden;
    }
    /*------------------colors13-----------------*/
     #colors12{
  display: none;
 position: absolute;
    left: 13px;
    bottom: -32px;
    height: 30px;
    width: 300px;
}
 #option25 {
    left: 0px;      
  }
  #option25Btn {
      overflow: hidden;
      
    }
  #option25BtnActive {
      overflow: hidden; 
      visibility: hidden;
    } 
    /*---------------colors14-------------*/
    #colors13{
  display: none;
 position: absolute;
    left: 13px;
    bottom: -32px;
    height: 30px;
    width: 300px;
}
 #option26 {
    left: 0px;      
  }
  #option26Btn {
      overflow: hidden;
      
    }
  #option26BtnActive {
      overflow: hidden;
      visibility: hidden; 
    }
    /*------------------colors15--------------*/
     #colors14{
  display: none;
 position: absolute;
    left: 13px;
    bottom: -32px;
    height: 30px;
    width: 300px;
}
 #option27 {
    left: 0px;      
  }
  #option27Btn {
      overflow: hidden;
      
    }
  #option27BtnActive {
      overflow: hidden; 
      visibility: hidden;
    }
    /*---------------colors16-------------*/
         #colors15{
  display: none;
 position: absolute;
    left: 13px;
    bottom: -32px;
    height: 30px;
    width: 300px;
}
 #option28 {
    left: 0px;      
  }
  #option28Btn {
      overflow: hidden;
     
    }
  #option28BtnActive {
      overflow: hidden; 
       visibility: hidden;
    }



#forselectcolor16
{
  display: none;
  position: absolute;
  left: 26px;
  bottom: -23px;
}
#forselectcolor1{
  display: none;
  position: absolute;
  left: 98px;
  bottom: -23px;
}#forselectcolor2{
  display: none;
  position: absolute;
  left: 26px;
  bottom: -23px;
}#forselectcolor3{
  display: none;
  position: absolute;
  left: 26px;
  bottom: -23px;
}#forselectcolor4{
  display: none;
  position: absolute;
  left: 26px;
  bottom: -23px;
}#forselectcolor5{
  display: none;
  position: absolute;
  left: 26px;
  bottom: -23px;
}#forselectcolor6{
  display: none;
  position: absolute;
  left: 26px;
  bottom: -23px;
}#forselectcolor7{
  display: none;
  position: absolute;
  left: 26px;
  bottom: -23px;
}#forselectcolor8{
  display: none;
  position: absolute;
  left: 26px;
  bottom: -23px;
}#forselectcolor9{
  display: none;
  position: absolute;
  left: 26px;
  bottom: -23px;
}#forselectcolor10{
  display: none;
  position: absolute;
  left: 26px;
  bottom: -23px;
}#forselectcolor11{
  display: none;
  position: absolute;
  left: 26px;
  bottom: -23px;
}#forselectcolor12{
  display: none;
  position: absolute;
  left: 26px;
  bottom: -23px;
}#forselectcolor13{
  display: none;
  position: absolute;
  left: 26px;
  bottom: -23px;
}#forselectcolor14{
  display: none;
  position: absolute;
  left: 26px;
  bottom: -23px;
}#forselectcolor15{
  display: none;
  position: absolute;
  left: 26px;
  bottom: -23px;
}
#first{
position: absolute;
    right: -80px;
    bottom: 20px;
    height: 33px;
    width: 420px;
    cursor: pointer;
}
#fan{
   position: absolute;
    left: 26px;
}#fan1{
 position: absolute;
    left: 81px;
}#fan2{
       position: absolute;
    left: 161px;
}#fan3{
    position: absolute;
    left: 296px;
}
#logo{
  position: absolute;
    right: 20px;
    top: 4px;
}
#design{
        position: absolute;
    left: 14px;
    top: 20px;
    height: 30px;
    width: 266px;
        /*z-index: 3;*/
}
}
#exterior{
       position: absolute;
       cursor: pointer;
}
#interior{
       position: absolute;
    left: 130px;
    cursor: pointer;
    top: 0px;
}

#on {
    position: absolute;
    left: 161px;
    display: block;
}

#off {
    position: absolute;
    left: 161px;
    display: none;
}

/*=============== Added for Right Controls by Rohan ================*/
.siComboBox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 200px;
    height: 25px;
    overflow: hidden;
    background: url(../images/combo_box.png) no-repeat;
    border: 0;
    padding:3px;
  outline:none;
  border:none;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 6px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 0px;
    background: rgba(169,169,169,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(169,169,169,0.4); 
}

/*=============== Added for Bottom Controls by Siva ================*/
#videoicon {
    left: 850px;
    bottom: 16px;
}
#threeicon {
    left: 850px;
    bottom: 16px;
}
.fullScreenBox{    
   right: 255px;
    top: 15px;
    position: absolute;
    cursor: pointer;
    z-index: 3;
    width: 32px;
    height: 32px;
}

/*#reset {
right: 250px;
bottom: 55px;
z-index: 3;
position: absolute;    
}*/
#posButtons {
    position: absolute;
    bottom: 0px;
    left: 50px;
}